<div class="contents">
  <%= form_tag("/blogs", method: :post) do %>
  <h3>投稿する</h3>
  <p><textarea name="text" placeholder="text"></textarea></p>
  <input class="post1" type="submit" value="SEND">
  <% end %>
</div>